default: &default
  adapter: postgresql
  username: root
  password: toor

development:
  <<: *default
  host: localhost
  database: webimmo_dev

test:
  <<: *default
  host: localhost
  database: webimmo_test
